$text:                         #1d1d1f;
$text-secondary:               #3d4852;

$primary:                      #489bf4;
$second-primary:               #48f4cc;
$secondary:                    #757575;
$warning:                      #ffba00;
$error:                        #ff4757;
$success:                      #46c93a;
$dark:                         #1e1e1e;