@import 'src/styles/variables';
@import 'src/styles/mixins';

.widget {
  @include flex();
  @include width(277px);
  @include elevation(2, rgba(255, 255, 255, .9));
  flex-direction:   column;
  height:           300px;
  padding:          20px;
  border-radius:    10px;
  background-color: #1c1c1c;
  position:         relative;

  .empty {
    font-size:  16px;
    text-align: center;
    color:      #fff;
  }

  .time {
    position:  absolute;
    top:       10px;
    right:     10px;
    font-size: 12px;
    color:     rgba(255, 255, 255, .6);
  }

  .data-box {
    margin-bottom: 15px;

    .data-title {
      font-size:     16px;
      margin-bottom: 5px;
      color:         #fff;
      text-align:    center;
    }

    .data-value {
      font-size:  14px;
      color:      rgba(255, 255, 255, .6);
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}